/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Dashboard Layout */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
}

.header-logged-in {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.login-with-metamask {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.homepage__loginOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
  padding: 10px;
}

.homepage__loginOptions {
  display: flex;
  gap: 1rem;
}

.login-btn {
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #e2e2e2;
}

/* Main Layout */
.main-layout {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #f3f4f6;
  padding: 1rem;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.user-avatar {
  border-radius: 50%;
  border: 2px solid #333;
}

.user-name {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.nav-link {
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.nav-link:hover {
  background-color: #e2e2e2;
}


.wallet-action-btn {
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 100%;
}

.wallet-action-btn:hover {
  background-color: #e2e2e2;
}

/* Main Content */
.content {
  flex: 1;
  padding: 1rem;
}

/* Welcome Back */
.welcome-back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns on smaller screens */
  gap: 1rem;
}

.grid-item-single {
  margin-bottom: 20px;
}

.grid-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  height: 200px; /* Adjust height as needed */
}

.logout {
  position: absolute;
  bottom: 20px;
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  width: 215px;
}

.logout:hover {
  background-color: #e2e2e2;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
  }

  .grid-container > .grid-item:nth-of-type(1) {
      grid-column: span 2; /* First item spans two columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .grid-container {
      grid-template-columns: 1fr; /* Single column on very small screens */
  }
}
